
:root {
	--button-bg-color: #18c662;
	--neon-color: #1ceb76;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	box-sizing: border-box;
}

.world {
	display: grid;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: white;
	gap: 50px;
	grid-template-areas:
	"normal extra";
}

.container {
	position: relative;
	display: inline-block;
	padding: 25px 30px;
	color: white;
	background: var(--button-bg-color);
	font-size: 24px;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	transition: 0.1s;
	letter-spacing: 4px;
}

.container:hover {
	/* background: #01a043; */
	background: #1ceb76;
	color: white;
	-webkit-box-reflect: below 1px linear-gradient(transparent,#0005);
	box-shadow: 0 0 5px var(--neon-color),
							0 0 25px var(--neon-color),
							0 0 50px var(--neon-color),
							0 0 200px var(--neon-color);
}

.lol {
	position: absolute;
	display: block;

}

.lol:nth-child(1) {
	top: 0;
	left: -100%;
	width: 100%;
	height: 4px;
	background: linear-gradient(90deg,transparent,var(--neon-color));
	animation: animate1 1s linear infinite;
}

@keyframes animate1
{
	0%
	{
		left: -100%;
	}
	50%,100%
	{
		left: 100%;
	}
}

.lol:nth-child(2) {
	top: -100%;
	right: 0;
	width: 4px;
	height: 100%;
	background: linear-gradient(180deg,transparent,var(--neon-color));
	animation: animate2 1s linear infinite;
	animation-delay: 0.25s;
}

@keyframes animate2
{
	0%
	{
		top: -100%;
	}
	50%,100%
	{
		top: 100%;
	}
}

.lol:nth-child(3) {
	bottom: 0;
	right: 100%;
	width: 100%;
	height: 4px;
	background: linear-gradient(270deg,transparent,var(--neon-color));
	animation: animate3 1s linear infinite;
	animation-delay: 0.5s;
}

@keyframes animate3
{
	0%
	{
		right: -100%;
	}
	50%,100%
	{
		right: 100%;
	}
}

.lol:nth-child(4) {
	bottom: -100%;
	left: 0;
	width: 4px;
	height: 100%;
	background: linear-gradient(360deg,transparent,var(--neon-color));
	animation: animate4 1s linear infinite;
	animation-delay: 0.75s;
}

@keyframes animate4
{
	0%
	{
		bottom: -100%;
	}
	50%,100%
	{
		bottom: 100%;
	}
}

.normal {
	grid-area: normal;
	position: relative;
	display: inline-block;
	padding: 25px 30px;
	color: white;
	background: var(--button-bg-color);
	font-size: 24px;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: 4px;
}

.normal:hover {
	background: #1ceb76;
}

.extra {
	grid-area: extra;
}